<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/global.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


    <title>Document</title>
</head>
<body>
    <nav>

    </nav>
    <section class="intro-section">
    <h1>Hi,</h1>
    <p>this is page to interact with perceptron model which identifies digits from 0 to 9</p>
    <div class="links-wrap">
    <a href="/ask">identify a number <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg></a>
    <a href="/add">help by adding new images to dataset <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg></a>
    </div>
    </section>
    <section class="help-wrap">
        <h1>help us removing false data</h1>
        <div class="identify-wrap">
            {%for i in images%}
            <div class="card">
                <h1>{{i[0]}}</h1>
                <img src="{{url_for('static', filename='images/' + i[1])}}" alt="" >
                <button class="remove" onclick="Remove({{i[2]}},{{i[0]}})">remove</button>
            </div>
            {%endfor%}
        </div>
    </section>
</body>
</html>