<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/question.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/global.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/question.js')}}"></script>
    <title>Identify digits</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>

    <div class="loading" id="loading">

    </div>
    <div class="content-wrap">
        <h1 id="title">Draw a number from 0  to 9</h1>
        <canvas id="canva">

        </canvas>
        <h1 style="display: none" class="ans" id="ans"></h1>

        <button id="button" onclick="saveImg()">submit</button>
    </div>

</body>
</html>